{% extends 'baselogin.html' %}
{% block content %}
<div class="basecuadro">
    <div class="login-box">
        <div class="login-header">Iniciar sesión</div>
            <div class="login-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-warning w-100" id="bingreso">ENTRAR</button>
                    {% endblock %}
                </form>
            </div>
    </div>
</div>