<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de productos</title>
</head>
<body>
    <header>
        <h1>LISTADO DE LOS PRODUCTOS CARGADOS</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'listar_prod' %}">Mostrar productos</a></li> <!-- Se hace el vínculo con el html de nombre listar_prod -->
            <li><a href="{% url 'registrar_prod' %}">Agregar un producto</a></li> <!-- Se hace el vínculo con el html de nombre listar_prod -->
        </ul>
    </nav>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Precio Unitario</th>
                    <th>Marca</th>
                    <th>Cantidad</th>
                    <th>Fec. de Elab.</th>
                    <th>Fec. de Venc.</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            {% for p in listado %} <!-- la variable productos debe coincidir con la variable en el views -->
                <tr>
                    <td>{{p.codigo}}</td>
                    <td>{{p.preciounitario}}</td>
                    <td>{{p.marca}}</td>
                    <td>{{p.cantidad}}</td>
                    <td>{{p.fechaelaboracion}}</td>
                    <td>{{p.fechavencimiento}}</td>
                    <td>{{p.descripcion}}</td>
                    <td><a href="{% url 'modificar_prod' p.pk %}">Editar</a></td> <!-- se referencia al nombre modificar_prod en urls.py -->
                    <td><a href="{% url 'eliminar_prod' p.pk %}">Eliminar</a></td> <!-- se referencia al nombre eliminar_prod en urls.py -->
                    <!--<td>
                        <form action="{% url 'eliminar_prod' p.pk %}" method="post" style="display:inline;"> <!-- Borrado seguro con el método POST -->
                    <!--        {% csrf_token %} <button type="submit" onclick="return confirm('¿Confirma eliminar este producto?');">Eliminar</button>
                        </form>
                    </td>-->
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>